.recipe{
  height: 100vmin;
}

a{
  text-decoration: none;
  color: inherit;
 }

.my-recipe{
  width: 100%;
}
.row{
  margin: 0;
}
.logo{
  height: 80px;
  width: 80px;
  position: absolute;
  top: -8px;
  left: 2px;
}
.recipeName{
  bottom: 50px;
  font-size: x-large;
  position: relative;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  left: 25px;
  width: fit-content;
}
.featured{
  padding-top: 68px;
  padding-bottom: 67px;

}
.image{
  width: 100%;
  height: 100vmin;
  object-fit: cover;
}
.outline{
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title{
  z-index: 1;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(219, 219, 219, 0.993);
}
.nav-bar {
  bottom: -2px;
  right:0;
  height: 69px;
  font-size: 2em;
  color: white;
  background-color: rgb(197, 197, 197);
}
.white{
  color: white
}
.black{
  color:black
}
.picture{
  height: 150px;
  width: 30px;
  object-fit: cover;
}
.fa-utensils, .fa-times{
  cursor: pointer;
}
.shoppinglist-container .card-title{
  font-size: 2rem;
}
.fa-times{
  font-size: 3rem;
  color: rgb(61, 153, 214);
}

.recipes-container, .shoppinglist-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
  padding-bottom: 66px;

}
.recipeContainer{
  top: 68px;
  position: absolute;
  padding-bottom: 66px;
}
.button-container{
  font-size: 2rem;
}
.button-container .fas{
 cursor: pointer;
}

.ratatouille{
  background-image: url("/images/ratatouille.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 75%;
  object-fit: cover;
  height: 100vh;
  width:100%;
}


.ingredient{
  display: flex;
  justify-content: space-evenly;
}

.quantity{
  text-align: center;
}
.login-title{
  background-color: rgba(230, 230, 230, 0.459);
}
.ing{
  width: 99%;
}

.oddIngredient{
  background-color: violet;
}

.evenIngredient{
  background-color: yellowgreen;
}

.instructionOrder{
  width: 10%;
}

.unit{
  width: 80%;
}

.favStar{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  top: 70px;
  position: absolute;
  left: 20px;
  font-size: xx-large;
}

.icon{
  cursor: pointer;
  position: absolute;
  right:0;
  top: 2.5vh;
}
.clickable{
  cursor: pointer;
}

.black{
  color: black;
}

.blue{
  color: blue;
}